.home {
  min-height: 100vh;
  background: linear-gradient(to bottom, #020617, #020617);
  color: white;
  padding: 30px;
}

.home h1 {
  margin-bottom: 5px;
}

.home p {
  margin-bottom: 30px;
  opacity: 0.8;
}

.row {
  margin-bottom: 40px;
}

.row h2 {
  margin-bottom: 15px;
}

.row-cards {
  display: flex;
  gap: 20px;
}

.card {
  width: 160px;
  height: 220px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  transition: transform 0.3s ease;
}

.more-card {
  width: 190px;
  height: 190px;
  background-color: rgb(73, 56, 82);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  margin-top: 15px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);

}

.more-card:hover {
  transform: translateY(-8px);
}