.profile-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f172a;
}

.profile-card {
  background: #020617;
  width: 360px;
  padding: 30px;
  border-radius: 16px;
  text-align: center;
  color: white;
  box-shadow: 0 10px 30px rgba(0,0,0,0.6);
}

.profile-avatar {
  width: 80px;
  height: 80px;
  margin: auto;
  border-radius: 50%;
  background: #2563eb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
}

.profile-name {
  margin-top: 12px;
}

.profile-sub {
  color: #94a3b8;
  font-size: 14px;
  margin-bottom: 20px;
}

.profile-info {
  margin-bottom: 20px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 14px;
}

.active {
  color: #22c55e;
  font-weight: 600;
}

.profile-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.profile-btn:hover {
  background: #1d4ed8;
}

.edit-box {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
}

.edit-box input {
  flex: 1;
  padding: 8px;
  border-radius: 6px;
  border: none;
}   

.edit-box button {
  padding: 8px 12px;
  background: #22c55e;
  border: none;
  border-radius: 6px;
  color: black;
  cursor: pointer;
}
.logout-btn {
  width: 100%;
  margin-top: 12px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #dc2626;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.logout-btn:hover {
  background: #b91c1c;
  transform: scale(1.05);
}